@import url(https://fonts.googleapis.com/css?family=PT+Sans);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #cccccc;
    padding:2em;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px; /*1em = 14px*/
    font white-space: 3em;
}

nav {color: #1f1f8f;
    text-align: center;
    text-transform: uppercase;
    font font-size: 2.5em;
    padding: 3em;
    letter-spacing: 2px;
    background-color: #E8C66A;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

div, section {
    background-color: #FFE2B8;
}

aside {
    background-color: #FFC675;
}

article {background-color: #E89C6C
}

h1 {
    color: #000030;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

h2 {
    color: #1f1f8f;
    text-align: center;
    text-transform: uppercase;
    font font-size: 2.5em;
}

h3, p, ul {
    color: #030303;
    text-align: left;
    max-width: 800px;
}

h3 {
    color: #000060;
    text-align: left;
    max-width: 800px;
}
h4 {
	{
    color: #000030;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

}
ul {
    color: 030303;
    text-align: left;
    max-width: 800px;
    list-style-type: square;
}

#slogan {font-style: italic;
        font-size: 20px;
}

#contacto {
	font-style: bold;
}

img
{
    width: 100%;
    max-height: 500px;
}

#myimage {
    margin: auto;
    width: 200px;
    height: 200px;
    float:left;
    padding: 1.5%
}

#descriptiontext {
    margin: auto;
    padding: 1.5%;
    max-width: 50em;
}

#presentationtext {
    max-width: 30em;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-70%, -30%);
    text-decoration-color: #fff;
}

menu {
    width: 30%;
    float:left;
    padding: 1.5%
    }

#finaltext {
    max-width: 800px;
    padding: .8em;
    text-align: center;
}

footer {
    text-align:center;
    padding: 1em 0;
    background-color: #FF957E;
}
